//白色
$color_white = #fff

//黑色
$color_black = #333

//灰色
$color_gray_0 = #fafbfc
$color_gray_1 = #f6f8fa
$color_gray_2 = #e1e4e8
$color_gray_3 = #d1d5da
$color_gray_4 = #959da5
$color_gray_5 = #6a737d
$color_gray_6 = #586069
$color_gray_7 = #444d56
$color_gray_8 = #2f363d
$color_gray_9 = #24292e

//蓝色
$color_blue_0 = #f1f8ff
$color_blue_1 = #dbedff
$color_blue_2 = #c8e1ff
$color_blue_3 = #79b8ff
$color_blue_4 = #2188ff
$color_blue_5 = #0366d6
$color_blue_6 = #005cc5
$color_blue_7 = #044289
$color_blue_8 = #032f62
$color_blue_9 = #05264c

//绿色
$color_green_0 = #f0fff4
$color_green_1 = #dcffe4
$color_green_2 = #bef5cb
$color_green_3 = #85e89d
$color_green_4 = #34d058
$color_green_5 = #28a745
$color_green_6 = #22863a
$color_green_7 = #176f2c
$color_green_8 = #165c26
$color_green_9 = #144620

//黄色
$color_yellow_0 = #fffdef
$color_yellow_1 = #fffbdd
$color_yellow_2 = #fff5b1
$color_yellow_3 = #ffea7f
$color_yellow_4 = #ffdf5d
$color_yellow_5 = #ffd33d
$color_yellow_6 = #f9c513
$color_yellow_7 = #dbab09
$color_yellow_8 = #b08800
$color_yellow_9 = #735c0f

//橙色
$color_orange_0 = #fff8f2
$color_orange_1 = #ffebda
$color_orange_2 = #ffd1ac
$color_orange_3 = #ffab70
$color_orange_4 = #fb8532
$color_orange_5 = #f66a0a
$color_orange_6 = #e36209
$color_orange_7 = #d15704
$color_orange_8 = #c24e00
$color_orange_9 = #a04100

//红色
$color_red_0 = #ffeef0
$color_red_1 = #ffdce0
$color_red_2 = #fdaeb7
$color_red_3 = #f97583
$color_red_4 = #ea4a5a
$color_red_5 = #d73a49
$color_red_6 = #cb2431
$color_red_7 = #b31d28
$color_red_8 = #9e1c23
$color_red_9 = #86181d

//紫色
$color_purple_0 = #f5f0ff
$color_purple_1 = #e6dcfd
$color_purple_2 = #d1bcf9
$color_purple_3 = #b392f0
$color_purple_4 = #8a63d2
$color_purple_5 = #6f42c1
$color_purple_6 = #5a32a3
$color_purple_7 = #4c2889
$color_purple_8 = #3a1d6e
$color_purple_9 = #29134e

//粉红色
$color_pink_0 = #ffeef8
$color_pink_1 = #fedbf0
$color_pink_2 = #f9b3dd
$color_pink_3 = #f692ce
$color_pink_4 = #ec6cb9
$color_pink_5 = #ea4aaa
$color_pink_6 = #d03592
$color_pink_7 = #b93a86
$color_pink_8 = #99306f
$color_pink_9 = #6d224f

//青色
$color_cyan_0 = #ffeef8
$color_cyan_1 = #fedbf0
$color_cyan_2 = #f9b3dd
$color_cyan_3 = #f692ce
$color_cyan_4 = #ec6cb9
$color_cyan_5 = #00cadc
$color_cyan_6 = #d03592
$color_cyan_7 = #b93a86
$color_cyan_8 = #99306f
$color_cyan_9 = #6d224f
