/* 圆角
==================================================== */
$zIndex = {
	'-1': -1,
	'0': 0,
	'1': 100,
	'2': 200,
	'3': 300,
	'4': 400,
	'5': 500,  //用用头栏、侧栏等
	'5.5': 550,  //屏风
	'6': 600,  //弹框
	'7': 700,
	'8': 800,
	'9': 900,  //消息框
	'10': 1000
}


/* 圆角
==================================================== */
$borderRadius = {
	'0': 0,
	'sm': 3px,  //按钮, 控件, 警告框
	'md': 6px,  //窗体
	'lg': 10px
}


/* 边框颜色
==================================================== */
$borderColor = {
	'common': $color_gray_2,
	'form': $color_gray_3,  //按钮, 控件
	'modal': darken($color_gray_1, 8%)  //窗体
}


/* 阴影颜色
==================================================== */
$shadows = {
	'window': 0 2px 3px -1px rgba(0,0,0,0.2)\, 0 3px 5px 0 rgba(0,0,0,0.12),  //消息框, 模态框
	'control': inset 0 1px 2px alpha($color_gray_9, 0.075),
	'control-focus': inset 0 1px 2px rgba(27,31,35,0.075)\, 0 0 0 0.2em rgba(3,102,214,0.3),
	'dropdown': 0 1px 2px rgba(0, 0, 0, 0.25)
}
