.RegionSelector
	&-content
		&>.item
			.item-title
				color: $color_gray_5
			.items
				padding-left: 0
				list-style: none
				&>.item
					float: left
					margin: 5px 3px 0
					padding: 1px 5px
					color: $color_gray_7
					border: 1px solid transparent
					cursor: pointer
					&:hover
						border-color: $color_gray_3
						background: $color_gray_1
					&.active
						color: $color_green_5!important
						border-color: $color_green_5
					&.item-weight-0
						color: $color_red_5
					&.item-weight-1
						color: $color_orange_5
					&.item-weight-3
						// display: none
					&.item-more
						color: $color_blue_3
		&>.item+.item
			.item-title
				margin-top: 1rem
	.Modal-footer-left
		color: $color_gray_5
