/* 文本居左居中居右
==================================================== */
.text-left
	text-align: left
.text-center
	text-align: center
.text-right
	text-align: right
	

/* 文本文字颜色
==================================================== */
.text-white
	color: $color_white
.text-black
	color: $color_black

.text-gray-light
	color: $color_gray_4
.text-gray
	color: $color_gray_5
.text-gray-dark
	color: $color_gray_7

.text-blue-light
	color: $color_blue_3
.text-blue
	color: $color_blue_4
.text-blue-dark
	color: $color_blue_7

.text-green-light
	color: $color_green_3
.text-green
	color: $color_green_5
.text-green-dark
	color: $color_green_8

.text-yellow-light
	color: $color_yellow_4
.text-yellow
	color: $color_yellow_6
.text-yellow-dark
	color: $color_yellow_8

.text-orange-light
	color: $color_orange_3
.text-orange
	color: $color_orange_5
.text-orange-dark
	color: $color_orange_8

.text-red-light
	color: $color_red_3
.text-red
	color: $color_red_5
.text-red-dark
	color: $color_red_8

.text-purple-light
	color: $color_purple_3
.text-purple
	color: $color_purple_5
.text-purple-dark
	color: $color_purple_7

.text-pink-light
	color: $color_pink_3
.text-pink
	color: $color_pink_5
.text-pink-dark
	color: $color_pink_7

.text-cyan-light
	color: $color_cyan_3
.text-cyan
	color: $color_cyan_5
.text-cyan-dark
	color: $color_cyan_8
