.bg-white
	background-color: $color_white
.bg-black
	background-color: $color_black


.bg-gray-light
	background-color: $color_gray_4
.bg-gray
	background-color: $color_gray_5
.bg-gray-dark
	background-color: $color_gray_7


.bg-blue-light
	background-color: $color_blue_3
.bg-blue
	background-color: $color_blue_4
.bg-blue-dark
	background-color: $color_blue_7


.bg-green-light
	background-color: $color_green_3
.bg-green
	background-color: $color_green_5
.bg-green-dark
	background-color: $color_green_8


.bg-yellow-light
	background-color: $color_yellow_4
.bg-yellow
	background-color: $color_yellow_5
.bg-yellow-dark
	background-color: $color_yellow_8
	

.bg-orange-light
	background-color: $color_orange_3
.bg-orange
	background-color: $color_orange_5
.bg-orange-dark
	background-color: $color_orange_8
	

.bg-red-light
	background-color: $color_red_3
.bg-red
	background-color: $color_red_5
.bg-red-dark
	background-color: $color_red_8
	

.bg-purple-light
	background-color: $color_purple_3
.bg-purple
	background-color: $color_purple_5
.bg-purple-dark
	background-color: $color_purple_7
	

.bg-pink-light
	background-color: $color_pink_3
.bg-pink
	background-color: $color_pink_5
.bg-pink-dark
	background-color: $color_pink_7
