.bg-white
	background-color: $color_white !important
.bg-black
	background-color: $color_black !important


.bg-gray-light
	background-color: $color_gray_4 !important
.bg-gray
	background-color: $color_gray_5 !important
.bg-gray-dark
	background-color: $color_gray_7 !important


.bg-blue-light
	background-color: $color_blue_3 !important
.bg-blue
	background-color: $color_blue_4 !important
.bg-blue-dark
	background-color: $color_blue_7 !important


.bg-green-light
	background-color: $color_green_3 !important
.bg-green
	background-color: $color_green_5 !important
.bg-green-dark
	background-color: $color_green_8 !important


.bg-yellow-light
	background-color: $color_yellow_4 !important
.bg-yellow
	background-color: $color_yellow_5 !important
.bg-yellow-dark
	background-color: $color_yellow_8 !important
	

.bg-orange-light
	background-color: $color_orange_3 !important
.bg-orange
	background-color: $color_orange_5 !important
.bg-orange-dark
	background-color: $color_orange_8 !important
	

.bg-red-light
	background-color: $color_red_3 !important
.bg-red
	background-color: $color_red_5 !important
.bg-red-dark
	background-color: $color_red_8 !important
	

.bg-purple-light
	background-color: $color_purple_3 !important
.bg-purple
	background-color: $color_purple_5 !important
.bg-purple-dark
	background-color: $color_purple_7 !important
	

.bg-pink-light
	background-color: $color_pink_3 !important
.bg-pink
	background-color: $color_pink_5 !important
.bg-pink-dark
	background-color: $color_pink_7 !important
