.btn
	height: 32px
	line-height: 20px
	padding: 5px 12px
	color: $color_gray_9
	border: 1px solid $color_gray_3
	background-color: $color_gray_1
	border-radius: $borderRadius['sm']
	display: inline-block
	text-align: center
	cursor: pointer
	user-select: none
	box-shadow: none
	&:hover
		text-decoration: none
		background-color: darken($color_gray_1, 3%)
		border-color: darken($color_gray_3, 10%)
	&:active
		box-shadow: inset 0 0.1em 0.3em alpha($color_gray_9, 0.15)
	&:focus
		box-shadow: 0 0 0 0.2em darken($color_gray_1, 3%)
		
	i
		font-size: inherit

	&-sm
		height: 26px
		font-size: 12px
		font-weight: 500
		line-height: 18px
		padding: 3px 8px
	&-lg
		height: 40px
		font-size: 16px
		line-height: 20px
		padding: 9px 16px
		
	&-primary
		color: $color_white
		background-color: $color_blue_4
		border-color: transparent
		&:hover
			background-color: darken($color_blue_4, 10%)
			border-color: transparent
		&:active
			background-color: darken($color_blue_4, 15%)
		&:focus
			color: $color_white
			box-shadow: 0 0 0 0.2em darken($color_blue_2, 3%)
	&-success
		color: $color_white
		background-color: $color_green_4
		border-color: transparent
		&:hover
			background-color: darken($color_green_4, 10%)
			border-color: transparent
		&:active
			background-color: darken($color_green_4, 15%)
		&:focus
			color: $color_white
			box-shadow: 0 0 0 0.2em darken($color_green_2, 5%)
	&-warning
		color: $color_gray_9
		background-color: $color_yellow_5
		border-color: transparent
		&:hover
			background-color: darken($color_yellow_5, 18%)
			border-color: transparent
		&:active
			background-color: darken($color_yellow_5, 23%)
		&:focus
			color: $color_gray_9
			box-shadow: 0 0 0 0.2em darken($color_yellow_2, 15%)
	&-danger
		color: $color_white
		background-color: $color_red_4
		border-color: transparent
		&:hover
			background-color: darken($color_red_4, 10%)
			border-color: transparent
		&:active
			background-color: darken($color_red_4, 18%)
		&:focus
			color: $color_white
			box-shadow: 0 0 0 0.2em lighten($color_red_2, 10%)

.btn-group
	clearfix()
	&>.btn
		float: left
		border-right-width: 0
		border-radius: 0
		&:first-child
			border-top-left-radius: $borderRadius['sm']
			border-bottom-left-radius: $borderRadius['sm']
		&:last-child
			border-right-width: 1px
			border-top-right-radius: $borderRadius['sm']
			border-bottom-right-radius: $borderRadius['sm']
			&:hover
				border-left-color: darken($color_gray_3, 10%)
		&:hover
			&+.btn
				border-left-color: darken($color_gray_3, 10%)
		&.btn-primary, &.btn-success, &.btn-warning, &.btn-danger
			&:hover
				&+.btn
					border-left-color: transparent
			&:last-child
				&:hover
					border-left-color: transparent
