.Confirm
	.Modal-header
		padding: 20px 25px 5px 25px
		border-bottom: none
	.Modal-header-content
		text-align: center
	.Modal-content
		max-width: 400px
	.Modal-body
		padding: 15px 25px
		border-top: none
		border-bottom: none
		&>.inner
			color: $color_gray_5
	.Modal-footer
		padding: 5px 25px 20px 25px
		border-top: none

.Confirm-enter-notice
	line-height: 20px
	margin: 20px 0 0.5em
