.control
	height: 32px
	line-height: 20px
	padding:5px 8px
	background-color: $color_gray_1
	border: 1px solid $borderColor['form']
	border-radius: $borderRadius['sm']
	&:focus, &-focus
		border-color: $color_blue_4
		box-shadow: 0 0 0 1px $color_blue_4
		background-color: #fff
	&-sm
		font-size: 12px
		height: 26px
		line-height: 18px
		padding: 3px 5px
	&-lg
		font-size: 15px
		height: 40px
		padding: 9px 12px

[type="radio"].control, [type="checkbox"].control, [type="radio"].control-sm, [type="checkbox"].control-sm
	height: auto
	padding: 0
	&:focus
		box-shadow: none
		outline: none

textarea
	&.control
		min-height: calc(1.5em * 4 + 10px + 2px)
		text-align: justify
		&.control-sm
			min-height: calc(1.5em * 3 + 6px + 2px)

select.control[multiple], select.control-sm[multiple]
	height: auto
	
select.control, .select.control
	background-position: right 8px center
	padding-right: 24px
	&-sm
		background-position: right 5px center
		padding-right: 18px
	&-lg
		background-position: right 12px center
		padding-right: 32px

label.control
	background: none
	height: auto
	padding: 0
	border: none
	&-sm
		height: auto
		line-height: 26px
		padding: 0
	&-lg
		height: auto
		line-height: 40px
		padding: 0
	
