.DTPicker
	.Modal-content
		width: auto

.DTPicker-content
	display: flex
	
.DTPicker-calendar
	&-hd
		position: relative
		text-align: center
		line-height: 20px
		padding: 5px 0
		&-c
			font-weight: bold
		&-l, &-r
			position: absolute
			top: 5px
			i
				display: block
				float: left
				width: 20px
				height: 20px
				font-size: 12px
				color: $color_gray_5
				cursor: pointer
				margin: 0 auto
				text-align: center
				line-height: inherit
				&:hover
					color: $color_gray_9
		&-l
			left: 0
		&-r
			right: 0
	&-right
		margin-left: 10px
	table
		border: none
		th, td
			text-align: center
			user-select: none
			width: 36px
			line-height: 36px
			padding: 0
			border: none
		th
			background: none
		td
			color: $color_gray_9
			cursor: pointer
			border-radius: 5px
			&:hover
				background: darken($color_gray_1, 2%)
			&.DTPicker-calendar-notm
				color: $color_gray_4
			&.DTPicker-calendar-tmcd
				color: $color_green_5
				font-size: 12px
				font-weight: bold
			&.DTPicker-calendar-tmce, &.DTPicker-calendar-tmcs
				color: #fff
				background: $color_blue_4
			&.DTPicker-calendar-tmci
				background: alpha($color_blue_1, 0.5)
				border-radius: 0
			&.DTPicker-calendar-tmcs.DTPicker-calendar-tmce
				border-radius: 5px

.DTPicker-calendar-hasend
	table
		td
			&.DTPicker-calendar-tmcs
				border-top-right-radius: 0
				border-bottom-right-radius: 0
			&.DTPicker-calendar-tmce
				border-top-left-radius: 0
				border-bottom-left-radius: 0
		
