.Editor
	position: relative
	display: flex
	flex-direction: column
	height: 600px
	box-shadow: 0 0 1px alpha($color_blue_5, 50%)
	border-radius: $borderRadius['sm']
	background: #fff
	
.Editor-title
	position: relative
	.control
		height: 60px
		padding: 19px 70px 19px 14px
		font-size: 20px
		background: transparent
		border-color: transparent
		box-shadow: none
		border-radius: 0
		font-weight: 500
		&::placeholder
			opacity: 0.36
		&:focus
			border-color: transparent
			box-shadow: none
			background: transparent
	&-tip
		position: absolute
		top: 50%
		right: 0
		margin-top: -10px
		width: 70px
		height: 20px
		line-height: 20px
		color: $color_gray_4
		text-align: center
		&.active
			color: $color_red_5
			font-weight: bold

.Editor-toolbar
	height: 36px
	background: darken($color_gray_1, 3%)
	padding: 0 15px
	
.Editor-iframe
	flex: 1
	display: block
	border: none

.Editor-ft
	display: flex
	padding: 15px
	&>.l, &>.r
		display: flex
		&>.item
			margin-left: 10px
			&:first-child
				margin-left: 0
			&.item-words
				line-height: 20px
				color: $color_gray_4
				padding: 6px 0
				text-align: center
				span.active
					color: $color_red_5
					font-weight: bold
			&.item-info
				color: $color_green_5
				line-height: 32px
				font-size: 13px
				font-weight: 500
	&>.l
		flex: 1
