.Loading
	position: fixed
	z-index: $zIndex['10']
	top: 50%
	left: 50%
	width: 80px
	height: 80px
	margin-top: -40px
	margin-left: -40px
	background: rgba(0,0,0,0.8) no-repeat center center url('/file/images/public/loading.svg')
	background-size: 30px
	border-radius: $borderRadius['md']
