active_a()
	.Modal-background
		opacity: 1
		pointer-events: none
		&:before
			display: block
active_b()
	.Modal-background
		pointer-events: auto
		&:before
			display: none
	.Modal-content
		opacity: 1
		transform: scale(1)

.Modal
	display: flex
	flex-direction: column
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: $zIndex['6']
	&.active-a
		active_a()
	&.active-b
		active_b()
	&.active
		active_a()
		active_b()
	&.Modal-center
		justify-content: center
		.Modal-content
			top: 0
	&.Modal-upper
		.Modal-content
			top: 15%
	&-animate
		animation: modal-animate 0.18s 0s 1 alternate linear
		animation-fill-mode: forwards

.Modal-background
	position: absolute
	z-index: -1
	top: 0
	left: 0
	width: 100%
	height: 100%
	transition: all 0.15s ease-in-out
	opacity: 0
	background: rgba(0,0,0,0.3) repeat center center
	background-image: url("/file/images/repeat-yarn.png")
	&:before
		display: none
		content: ""
		position: absolute
		top: 50%
		left: 50%
		width: 30px
		height: 30px
		margin-top: -15px
		margin-left: -15px
		background: no-repeat center center url("/file/images/public/loading.svg")
		background-size: cover
		
.Modal-loading
	position: absolute
	z-index: 2
	top: 0%
	left: 0%
	width: 100%
	height: 100%
	background: rgba(255,255,255,0.6)
	border-radius: $borderRadius['md']
	
.Modal-content
	display: flex
	flex-direction: column
	justify-content: center
	position: relative
	top: 5%
	width: 100%
	min-width: 360px
	max-width: 640px
	max-height: 95%
	margin: 0 auto
	box-shadow: $shadows['window']
	border-radius: $borderRadius['md']
	transition: all 0.15s ease-in-out
	opacity: 0
	transform: scale(0.95)
	background-color: rgba(255,255,255,0.98)

.Modal-header
	padding: 15px
	border-bottom: 1px solid $borderColor['modal']
	&>.inner
		display: flex
		line-height: 20px
	&-content
		width: 100%
		font-size: 18px
	&-btns
		white-space: nowrap
		&>*
			margin-left: 8px
		i
			font-size: 14px
			color: darken($color_gray_4, 10%)
			cursor: pointer
			&:hover
				color: $color_gray_6

.Modal-body
	padding: 15px
	overflow: auto
	
.Modal-footer
	display: flex
	justify-content: flex-end
	line-height: 20px
	padding: 15px
	border-top: 1px solid $borderColor['modal']
	&-left
		width: 100%
		line-height: 32px
		text-align: left
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
	&>.btn
		margin-left: 6px
		min-width: 80px



// animation
@keyframes modal-animate {
	0% {
		transform: scale(1)
	}
	75% {
		transform: scale(1.02)
	}
	100% {
		transform: scale(1)
	}
}
