.Table-vertical
	tr
		td:first-child
			width: calc(18px + 8em)
			background: $color_gray_1
			font-weight: bold
			text-align: right
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
