/* 文本居左居中居右
==================================================== */
.text-left
	text-align: left !important
.text-center
	text-align: center !important
.text-right
	text-align: right !important
	

/* 文本文字颜色
==================================================== */
.text-white
	color: $color_white !important
.text-black
	color: $color_black !important

.text-gray-light
	color: $color_gray_4 !important
.text-gray
	color: $color_gray_5 !important
.text-gray-dark
	color: $color_gray_7 !important

.text-blue-light
	color: $color_blue_3 !important
.text-blue
	color: $color_blue_4 !important
.text-blue-dark
	color: $color_blue_7 !important

.text-green-light
	color: $color_green_3 !important
.text-green
	color: $color_green_5 !important
.text-green-dark
	color: $color_green_8 !important

.text-yellow-light
	color: $color_yellow_4 !important
.text-yellow
	color: $color_yellow_6 !important
.text-yellow-dark
	color: $color_yellow_8 !important

.text-orange-light
	color: $color_orange_3 !important
.text-orange
	color: $color_orange_5 !important
.text-orange-dark
	color: $color_orange_8 !important

.text-red-light
	color: $color_red_3 !important
.text-red
	color: $color_red_5 !important
.text-red-dark
	color: $color_red_8 !important

.text-purple-light
	color: $color_purple_3 !important
.text-purple
	color: $color_purple_5 !important
.text-purple-dark
	color: $color_purple_7 !important

.text-pink-light
	color: $color_pink_3 !important
.text-pink
	color: $color_pink_5 !important
.text-pink-dark
	color: $color_pink_7 !important

.text-cyan-light
	color: $color_cyan_3 !important
.text-cyan
	color: $color_cyan_5 !important
.text-cyan-dark
	color: $color_cyan_8 !important
