.icon
	position: relative
	display: inline-block
	line-height: 1
	color: inherit
	&-block
		display: block
		text-align: center

.clearfix
	clearfix()

.hidden, [hidden]
	display: none!important

.block
	display: block!important
	width: 100%

.disabled, [disabled]
	opacity: 0.5
	cursor: not-allowed!important
	pointer-events: none

.disabled *, [disabled] *
	cursor: not-allowed!important

.of-hidden
	overflow: hidden!important
